.hll { background-color: #ffffcc }
 /*{ background: #f0f3f3; }*/
.c { color: var(--syntax-comment); } /* Comment */
.err { color: #AA0000; background-color: #FFAAAA } /* Error */
.k { color: var(--syntax-keyword); } /* Keyword */
.o { color: var(--syntax-operator) } /* Operator */
.cm { color: var(--syntax-comment); font-style: italic } /* Comment.Multiline */
.cp { color: #009999 } /* Comment.Preproc */
.c1 { color: var(--syntax-comment); } /* Comment.Single */
.cs { color: var(--syntax-comment); } /* Comment.Special */
.gd { background-color: #FFCCCC; border: 1px solid #CC0000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #003300; } /* Generic.Heading */
.gi { background-color: #CCFFCC; border: 1px solid #00CC00 } /* Generic.Inserted */
.go { color: #AAAAAA } /* Generic.Output */
.gp { color: #000099; } /* Generic.Prompt */
.gs { } /* Generic.Strong */
.gu { color: #003300; } /* Generic.Subheading */
.gt { color: #99CC66 } /* Generic.Traceback */
.kc { color: var(--syntax-keyword); } /* Keyword.Constant */
.kd { color: var(--syntax-keyword); } /* Keyword.Declaration */
.kn { color: var(--syntax-keyword); } /* Keyword.Namespace */
.kp { color: var(--syntax-keyword) } /* Keyword.Pseudo */
.kr { color: var(--syntax-keyword); } /* Keyword.Reserved */
.kt { color: #007788; } /* Keyword.Type */
.m { color: var(--syntax-number) } /* Literal.Number */
.s { color: var(--syntax-string) } /* Literal.String */
.na { color: var(--syntax-attr) } /* Name.Attribute */
.nb { color: var(--syntax-builtin) } /* Name.Builtin */
.nc { color: var(--syntax-class); } /* Name.Class */
.no { color: #336600 } /* Name.Constant */
.nd { color: #9999FF } /* Name.Decorator */
.ni { color: #999999; } /* Name.Entity */
.ne { color: #CC0000; } /* Name.Exception */
.nf { color: var(--syntax-function) } /* Name.Function */
.nl { color: #9999FF } /* Name.Label */
.nn { color: #00CCFF; } /* Name.Namespace */
.nt { color: var(--syntax-tag); } /* Name.Tag */
.nv { color: var(--syntax-variable) } /* Name.Variable */
.ow { color: var(--syntax-operator); } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: var(--syntax-number) } /* Literal.Number.Float */
.mh { color: var(--syntax-number) } /* Literal.Number.Hex */
/* collision with mathjax */
/*.mi { color: #FF6600 } /* Literal.Number.Integer */
/*.mo { color: #FF6600 } /* Literal.Number.Oct */
.sb { color: var(--syntax-string) } /* Literal.String.Backtick */
.sc { color: var(--syntax-string) } /* Literal.String.Char */
.sd { color: var(--syntax-string); font-style: italic } /* Literal.String.Doc */
.s2 { color: var(--syntax-string) } /* Literal.String.Double */
.se { color: var(--syntax-string); } /* Literal.String.Escape */
.sh { color: var(--syntax-string) } /* Literal.String.Heredoc */
.si { color: #AA0000 } /* Literal.String.Interpol */
.sx { color: var(--syntax-string) } /* Literal.String.Other */
.sr { color: #33AAAA } /* Literal.String.Regex */
.s1 { color: var(--syntax-string) } /* Literal.String.Single */
.ss { color: #FFCC33 } /* Literal.String.Symbol */
.bp { color: var(--syntax-builtin) } /* Name.Builtin.Pseudo */
.vc { color: var(--syntax-variable) } /* Name.Variable.Class */
.vg { color: var(--syntax-variable) } /* Name.Variable.Global */
.vi { color: var(--syntax-variable) } /* Name.Variable.Instance */
.il { color: var(--syntax-number) } /* Literal.Number.Integer.Long */

.css .o,
.css .o + .nt,
.css .nt + .nt { color: var(--syntax-comment); }
